@media (max-width: 1200px)
  .container
    width: 960px
  .hotel
    &-slider
      width: 590px
  .card
    width: 230px
    height: 230px
  .packages
    &-big
      &__image
        max-width: 50%
@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    max-width: 132px  
  .navbar
    &-top-wrapper
      padding: 30px 0
    &__search
      margin-left: 47px
  .search
    &__input
      width: 340px
  .navbar
    &-menu
      padding: 22px 13px 23px 13px
      &__link
        font-size: 12px
        line-height: 15px
  .hotel
    &-grid
      flex-direction: column
    &-slider
      width: 100%
    &__slider
      margin-bottom: 30px
    &-booking
      flex-direction: row
  .booking
    width: 340px
  .map
    width: 340px
  .subscribe
    padding: 92px 0 93px 0
    &-block
      max-width: inherit
  .review
    &__title
      font-size: 30px
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 580px
  .activities
    padding-bottom: 70px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 339px 
    height: 250px
  .packages
    &__title
      margin-bottom: 40px
    &-wrapper
      grid-template: repeat(3, 450px) / repeat(2, 1fr) 
      column-gap: 20px
      row-gap: 20px
    &-small
      &__info
        padding: 20px 23px
  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__logo
      width: 104px
      grid-row: 1/2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1/2
        grid-column: span 4
        align-self: center
    &__contact
      &-details
        grid-row: 3/4
        grid-column: span 5
      &-form
        grid-row: 4/5
        grid-column: span 5
    &__list
      &--categories
        grid-row: 2/3
        grid-column: span 2
      &--addinfo
        grid-column: span 2
      &--legalinfo
        grid-column: span 2
    &-bottom
      &__list
        justify-content: flex-start
@media (max-width: 768px)
  .container 
    max-width: 560px
  .navbar
    &-top
      &-wrapper
        padding: 28px 0
    &--mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__search, &__user
      &--mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      bottom: 0
      right: 0
      top: 70px
      &-visible
        display: block
    &-menu
      flex-direction: column
      padding-top: 30px
      &__item
        margin-bottom: 20px 
        &--mobile
          &_visible
            display: block
            &:first-child
              margin-bottom: 27px
            &:nth-child(2)
              margin-bottom: 39px
  .search
    margin-left: 0
    &__input
      max-width: 245px
  .breadcrumbs
    margin-top: 70px
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .menu
    &-button
      display: flex
      align-items: center
      flex-direction: column
      justify-content: space-between
      width: 16px
      height: 11px
      padding: 0
      border: none
      background-color: transparent
      cursor: pointer
      &:focus
        outline: none
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    padding-bottom: 60px
    &-slider
      height: 350px
    &-wrapper
      padding: 5px 0 20px 0
    &-left
      flex-basis: 100%
      &__info
        justify-content: space-between
      &__offer
        order: -1
        margin-left: 0
        margin-top: 0
      &__name
        margin-top: 10px
    &-right
      display: none
    &-grid
      padding-top: 18px
    &-booking
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .stars
    justify-content: flex-end
    flex-basis: 50%
  .subscribe
    padding: 76px 0 83px 0
    &-block
      flex-direction: column
      align-items: flex-start
    &__text
      font-style: normal
      font-weight: 300
      font-size: 20px
      line-height: 25px
      margin-bottom: 5px
    &__title
      display: inline-block
      font-style: normal
      font-weight: 600
      font-size: 30px
      line-height: 38px
      margin-bottom: 37px
    &-search
      &__input
        width: 280px
        padding-left: 20px
  .review
    padding: 40px 0 50px
    &-slider
      &__item
        padding: 0 30px 30px
        &::before
          display: none
        &::after
          display: none
      &__button
        top: 30px
        &--prev
          left: 50%
          transform: translate(-50%,0)
          margin-left: -90px
        &--next
          right: 50%
          transform: translate(50%,0)
          margin-right: -90px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
  .card
    width: 49%
    height: 255px  
  .packages
    padding: 30px 0 50px
    &__title
      font-size: 25px
      margin-bottom: 25px
    &-hotel
      &__text
        font-size: 12px
    &-big
      &__info
        padding: 25px 30px
      &__room
        margin-bottom: 30px


@media  (max-width: 576px)
  .logo
    width: 99px
  .container
    max-width: 380px
  .swiper
    height: 250px
  .hotel
    padding-bottom: 40px
    &-slider
      height: 250px
    &__slider
      margin-bottom: 20px
  .activities
    padding: 40px 0 40px 0
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .card
    width: 100%
  .review
    &__title
      max-width: 245px
      margin: 0 auto 42px
  .packages
    &-wrapper
      grid-template: repeat(5, 450px) / 1fr
      column-gap: 0px
    &-big
      grid-column: 1/2
      position: relative
      display: flex
      flex-direction: column
      border-radius: 8px
      overflow: hidden
      &__offer
        position: absolute
        left: 0
        top: 26px
        font-style: normal
        font-weight: 600
        font-size: 8px
        line-height: 10px
        color: $light
        background-color: $primary
        padding: 4px 9px
        border-radius: 0px 4px 4px 0px
      &__info
        padding: 20px 23px
      &__room
        margin-bottom: 24px
        margin-top: auto
      &__image
        max-height: 50%
        max-width: 100%
        object-fit: cover
      &__name
        margin: 0
    &-hotel
      &__text
        display: none
      &__name
        font-size: 22px
    &-stars
      display: none
    &__button
      padding: 10px 40px
  .footer
    padding: 69px 0 21px 0
    &-wrapper
      grid-template-columns: minmax(250px, 1fr)
    &__ul
      max-width: 250px
    &__text
      max-width: 250px  
    &__logo
      grid-row: 1
      grid-column: 1  
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__list
      &--addinfo
        grid-row: 3
        grid-column: 1
      &--categories
        grid-row: 4
        grid-column: 1
      &--legalinfo
        grid-row: 5
        grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__input
      flex-basis: 100%
    &__button
      flex-basis: 50%
      order: 99
    &__info
      flex-basis: 100%
      order: 98
      margin-bottom: 15px
    &-bottom
      display: flex
      position: static
      flex-direction: column
      margin-top: 30px
      align-items: flex-start
      &__list
        margin: 0 0 10px 0
      &__services
        position: static
    &__icon
      &-wrapper
        min-width: 30px
    &__social
      &-network
        flex-direction: column
        align-items: flex-start
      &-links
        margin-top: 20px
@media (max-width: 400px)
  .container
    max-width: 280px
  .hotel
    &-slider
      height: 180px
  .booking
    width: 100%
    min-height: 210px
  .map
    width: 100%
    min-height: 172px
  .stars
    margin-right: 16px
  .packages
    &__button
      padding: 10px 20px
