@media (max-width: 1200px)
  .container
    width: 960px
  .hotel
    &-slider
      width: 590px
@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    max-width: 132px  
  .navbar
    &-top-wrapper
      padding: 30px 0
    &__search
      margin-left: 47px
  .search
    &__input
      width: 340px
  .navbar
    &-menu
      padding: 22px 13px 23px 13px
      &__link
        font-size: 12px
        line-height: 15px
  .hotel
    &-grid
      flex-direction: column
    &-slider
      width: 100%
    &__slider
      margin-bottom: 30px
    &-booking
      flex-direction: row
  .booking
    width: 340px
  .map
    width: 340px
  .subscribe
    padding: 92px 0 93px 0
    &-block
      max-width: inherit

@media (max-width: 768px)
  .container 
    max-width: 560px
  .navbar
    &-menu, &__search, &__user
      display: none
  .menu
    &-button
      display: flex
      align-items: center
      flex-direction: column
      justify-content: space-between
      width: 16px
      height: 11px
      padding: 0
      border: none
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    padding-bottom: 60px
    &-slider
      height: 350px
    &-wrapper
      padding: 5px 0 20px 0
    &-left
      flex-basis: 100%
      &__info
        justify-content: space-between
      &__offer
        order: -1
        margin-left: 0
        margin-top: 0
      &__name
        margin-top: 10px
    &-right
      display: none
    &-grid
      padding-top: 18px
    &-booking
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .stars
    text-align: right
    flex-basis: 50%
  .subscribe
    padding: 76px 0 83px 0
    &-block
      flex-direction: column
      align-items: flex-start
    &__text
      font-style: normal
      font-weight: 300
      font-size: 20px
      line-height: 25px
      margin-bottom: 5px
    &__title
      display: inline-block
      font-style: normal
      font-weight: 600
      font-size: 30px
      line-height: 38px
      margin-bottom: 37px
    &-search
      &__input
        max-width: 280px
        padding-left: 20px

@media  (max-width: 576px)
  .logo
    width: 99px
  .container
    max-width: 380px
  .swiper
    height: 250px
  .hotel
    padding-bottom: 40px
    &-slider
      height: 250px
    &__slider
      margin-bottom: 20px
@media (max-width: 400px)
  .container
    max-width: 280px
  .hotel
    &-slider
      height: 180px
  .booking
    width: 100%
    min-height: 210px
  .map
    width: 100%
    min-height: 172px
  .stars
    margin-right: 16px
